<div class="mana-container">
    <img class="mana-item" [src]="getManaSymbol()">

    <div class="mana-item">
        <h1 class="mana-count">{{ manaLeft }}</h1>
    </div>

    <div class="mana-item">
        <span class="glyphicon glyphicon-triangle-top" 
              (click)="unspendMana()"></span>
    </div>

    <div class="mana-item">
        <span class="glyphicon glyphicon-triangle-bottom"
              (click)="spendMana()"></span>
    </div>

    <div class="mana-item">
        <span class="glyphicon glyphicon-plus"
              (click)="addMana()"></span>
    </div>

    <div class="mana-item">
        <span class="glyphicon glyphicon-repeat"
              (click)="unspendAllMana()"></span>
    </div>
</div>